@value dark-text-color from '../../../assets/css/variables.css';

.container {
  display: flex;
  justify-content: space-between;
}

.timer {
  margin-top: 170px;
}

.question {
  width: 1140px;
}

.title {
  margin-bottom: 20px;
}

.progress {
  margin-bottom: 18px;
}

.question {
  margin-bottom: 30px;
}

.options {
  margin-bottom: 25px;
}

.controls {
  margin-top: 170px;
}
